body {
    margin: 0;
    background-color: #111827;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Cursed Timer ULiL';
}

@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family: cursedTimer;
}

.button {
    background-color: #111827;
    font-size: 20px;
    border: #9AABD8;
    border-radius: 2px;
}

.container {
    display: flex;
    justify-content: space-around;
}